:root {
  --background-primary: #121212;
  --text-primary: #FFFFFF;
  --text-secondary: #B3B3B3;
  --accent-primary: #1DB954;
  --accent-primary-hover: #1ED760; /* Lighter green for dark mode hover */
  --element-background: #282828;
  --highlight-background: #383838;
}

body.light-mode {
  --background-primary: #FFFFFF;
  --text-primary: #121212;
  --text-secondary: #535353;
  --accent-primary: #1DB954;
  --accent-primary-hover: #1AAE4A; /* Darker green for light mode hover */
  --element-background: #F0F0F0;
  --highlight-background: #E0E0E0;
}

body {
  margin: 0;
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
